{erl_opts, [debug_info]}.

{profiles, [
    {test, [
        {deps, [
            {eqwalizer_support, {
                git_subdir,
                "https://github.com/whatsapp/eqwalizer.git",
                {branch, "main"},
                "eqwalizer_support"
            }}
        ]},
        {dialyzer, [
            {plt_extra_apps, [eunit]}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        extra_return,
        missing_return,
        unknown,
        unmatched_returns
    ]}
]}.
